// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';
@import 'sb-admin';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.thumbnail-text {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
}

.thumbnail:hover .thumbnail-text > p {
  color: $primary !important;
}

.table_thumbnail {
  height: 50px;
}

.urgency-None {
  color: rgba(0, 0, 0, 0) !important;
}

.urgency-Low {
  color: yellow !important;
}

.urgency-Medium {
  color: orange !important;
}

.urgency-High {
  color: red !important;
}
